body {
    background-color: rgb(196, 153, 101);
    text-align: center;
}
.board { 
    border:2px solid black; 
    display:flex; 
    flex-wrap:wrap; 
    height:276px; 
    width:330px; 
    background:rgba(101, 49, 4, 0.63);
    margin: 0;
    text-align: center;
    } 
    .board div { 
    height:40px; 
    width:40px; 
    margin:3px;
    border-radius:20px;
    }
    #container {
        margin: auto;
        width: 75%;
    }
    .square { 
    background:antiquewhite; 
    } 

    .player-one { 
    background:rgb(89, 39, 6);
    }
    .player-two { 
    background:rgb(196, 153, 101); 
    }
    .restart { 
    background: rgb(209, 181, 111); 
    cursor: pointer;
    width: 25px; 
    height: 12px; 
    position: relative; 
    top: 15px;
    }
    .currentPlayer {
    font-weight: bold;
    font-family: 'papyrus', fantasy;
    color: rgb(101, 46, 10);
    }
    h1 {
    font-family: 'papyrus', fantasy;
    color: rgba(84, 44, 6, 0.852);  
    font-size: 50px;
    }
    hr {
        height: 0px;
        width: 150px;
        border-style: dotted none none;
        border-color: antiquewhite;
        border-width: 15px;
    }