/* /* #gameContainer {
height: 420px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
border: 7px solid blue;
box-shadow: 0 6px 12 px 0 black (0,0,0,0.2);
}
.column {
    border: 7px solid blue;
    width: 59px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index:1 ;
    position: relative;
}
.slot {
    background-color: white;
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 48px;
    border-radius: 50%;
} */
/* body {
    align-items: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 2.5vh;
}

#board {
    padding-top: 20pt;
    width:400px;
    height: 360px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.reset {
background-color: plum;
}

.cell {
    border: 1px dotted blue;
    display: flex;
}

.piece {
    border-radius: 50%;
    background-color: red;
} */ 

.board { 
    border:1px solid black; 
    display:flex; 
    flex-wrap:wrap; 
    height:276px; 
    width:330px; 
    background:rgba(101, 49, 4, 0.63) 
    } 
    .board div { 
    height:40px; 
    width:40px; 
    margin:3px;
    border-radius:20px 
    }
    .square{ 
    background:white; 
    } 
    .taken { 
    /*background:red !important.. what even is this? */
    } 
    .player-one { 
    background:rgb(89, 39, 6);
    }
    .player-two { 
    background:rgb(215, 178, 84); 
    }
    .restart{ 
    background: rgba(110, 89, 200, 0.603); 
    width: 95px; 
    height: 30px; 
    position: relative; 
    top: 10px; 
    left: 10px; 
    display: none; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    }
    .currentPlayer {
    font-style: ;
    font-family: 'papyrus', monospace;
    color: brown;
    }
    .h1 {
        font-style: ;
        font-family: 'papyrus', monospace;
        color: brown;  
    }